@model List<ESKINS.DbServices.Models.ItemsModels>
@{
    Layout = "_MainPageLayout";
}
@section head{
}
    <header class="privacy1">
        <h2>Shopping Cart</h2>
    </header>
    <br />
    <section style="color:white;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card1">
                        <div class="table-responsive" style="overflow: auto; max-height:400px; margin:20px; border-radius: 10px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align: center;">Shopping Bag</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Quality</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model){
                                        <tr style="height: 150px;">
                                             <td class="align-middle">
                                                <img src="data:image;base64,@Convert.ToBase64String(item.ItemImage)" class="img-fluid rounded-3"
                                                     style="width: 120px;" alt="Book">
                                            </td>
                                            <td class="align-middle">
                                                <p class="mb-2">@item.ProductName</p>
                                                <p class="mb-0">@item.Category.CategoryDescription</p>
                                                <p class="mb-0" style="font-weight: 500;">@item.Exterior.Exterior</p>
                                            </td>
                                            <td class="align-middle">
                                                <p class="mb-0" style="font-weight: 500;">@item.Quality.Quality</p>
                                            </td>
                                            <td class="align-middle">
                                                <p class="mb-0" style="font-weight: 500;">@(Math.Round(item.Discount * 100)) %</p>
                                            </td>
                                            <td class="align-middle">
                                                <p class="mb-0" style="font-weight: 500;">£ @item.ActualPrice</p>
                                            </td>
                                            <td class="align-middle">
                                                <button type="submit" class="button-36">Remove</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <br />
                <div class="card1">
                        <div class="payment" style="margin:20px;">
                        <div class="payment__title center-align" style="margin-top:-20px;">
                                Payment Method
                            </div>
                            <div class="payment__types">
                                <div class="payment__type payment__type--cc active">
                                    <i class="icon icon-credit-card"></i>Credit Card
                                </div>
                                <div class="payment__type payment__type--paypal">
                                    <i class="icon icon-paypal"></i>Paypal
                                </div>
                                <div class="payment__type payment__type--paypal">
                                    <i class="icon icon-wallet"></i>SEPA
                                </div>
                                <div class="payment__type payment__type--paypal">
                                    <i class="icon icon-note"></i>Invoice
                                </div>
                            </div>
                            <div class="payment__info">
                                <div class="payment__cc">
                                    <form>
                                        <div class="form__cc">
                                            <div class="row">
                                                <div class="field">
                                                    <div class="title">
                                                        Credit Card Number
                                                    </div>
                                                    <input type="text" class="input txt text-validated" value="4542 9931 9292 2293" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="field small">
                                                    <div class="title">
                                                        Expiry Date
                                                    </div>
                                                    <select class="input ddl">
                                                        <option selected>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                    <select class="input ddl">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="field small">
                                                    <div class="title">
                                                        CVV Code
                                                        <span class="numberCircle">?</span>
                                                    </div>
                                                    <input type="text" class="input txt" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="field">
                                                    <div class="title">
                                                        Name on Card
                                                    </div>
                                                    <input type="text" class="input txt" />
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <div class="payment__shipping">
                                    <div class="payment__title">
                                        <i class="icon icon-plane"></i> Shiping Information
                                    </div>
                                    <div class="details__user">
                                        <div class="user__name">
                                            John Doe
                                            <br> 13/03/1980
                                        </div>
                                        <div class="user__address">
                                            Shipping Address: 22 Street, Address
                                            <br>Country
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="center-align">
                            <button href="#" class="button-36">
                                    Place your Order
                                    <i class="icon icon-arrow-right-circle"></i>
                            </button>
                            <button href="#" class="button-36">Go Back to Shop</button>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <br />
<style>
    *,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  padding-left: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #0a0a0a;
  line-height: 1.4;
}

a {
  color: #000;
}

.content {
  z-index: 9999;
}

.secure,
.backBtn {
  display: flex;
}
.secure span,
.backBtn span {
  margin-left: 5px;
}

.backBtn {
  margin-top: 20px;
}

.secure {
  color: #afb5c0;
  align-items: flex-end;
}
.secure .icon {
  font-size: 20px;
  line-height: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo .icon {
  font-size: 32px;
  line-height: 32px;
  margin-right: 5px;
}

img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}

.details {
  max-width: 800px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.details__item {
  display: flex;
}
.details__user {
  background: #f6f9fc;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dadada;
}

.item__quantity {
  position: absolute;
  right: 50px;
  top: 30px;
  font-size: 20px;
}
.item__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__image .iphone {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
}
.item__details {
  padding: 30px;
}
.item__title {
  font-size: 28px;
  font-weight: 600;
}
.item__price {
  font-size: 22px;
  color: #bec3cb;
}

.icon {
  font-size: 16px;
  vertical-align: middle;
}

header1 {
  background-color: #f6f9fc;
  min-height: 500px;
  background-image: url("../images/pattern.png");
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 80px 0;
  color: #246eea;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.row {
  display: flex;
}

.txt {
  border-color: #e1e8ee;
  width: 100%;
}

.input {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height: 48px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #5e6977;
}

input[type="text"] {
  display: initial;
  padding: 15px;
}

.text-validated {
  border-color: #7dc855;
  background-image: url("../images/icon-tick.png");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.ddl {
  border-color: #f0f4f7;
  background-color: #f0f4f7;
  width: 100px;
  margin-right: 10px;
}

.title {
  font-size: 14px;
  padding-bottom: 8px;
}

.field {
  padding-top: 15px;
  padding-right: 30px;
  width: 50%;
}
.field.small {
  width: auto;
}

.notification {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.notification .icon {
  font-size: 28px;
  color: #7dc855;
  line-height: 28px;
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 40px 0;
}

.payment {
  padding: 20px 0 0 0;
}
.payment__title {
  margin: 40px 0 20px 0;
  font-size: 18px;
  display: flex;
  text-align: left;
}
.payment__title .icon {
  margin-right: 10px;
}
.btn:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  background: #4984ea;
}
.btn.action__back {
  background: transparent;
  color: #a0a0a0;
}

.payment__types {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment__info {
  display: flex;
}

.payment__cc {
  flex: 60%;
}

.payment__shipping {
  flex: 40%;
}

.shipping__info {
  background: #f6f9fc;
  padding: 10px;
  border-radius: 8px;
}

.payment__type {
  display: flex;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 20px 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d9d9d9;
  transition: all 0.15s ease;
}
.payment__type:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.payment__type.active {
  color: #0a0a0a;
  background: #f6fcf7;
  border-color: #7dc855;
}
.payment__type .icon {
  font-size: 32px;
  margin-right: 10px;
}
.payment__type + .payment__type {
  margin-left: 10px;
}

.icon-xl {
  font-size: 48px;
  line-height: 48px;
}

.content {
  display: block;
}

.thankyou {
  display: block;
}
.thankyou .details {
  opacity: 1;
  justify-content: center;
  align-items: center;
}
.thankyou .details h3 {
  font-weight: 600;
}
.thankyou .details__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thankyou .details__item .icon-xl {
  font-size: 32px;
  color: #7dc855;
  line-height: 32px;
}

.loading {
  position: relative;
}
.loading:after {
  -webkit-animation: spinAround .5s infinite linear;
          animation: spinAround .5s infinite linear;
  border: 4px solid #7dc855;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  height: 5em;
  width: 5em;
  position: absolute;
}
.loading .details__item {
  opacity: 0;
}

@@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
/* buttons */
.button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-36:hover {
        box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
        transition-duration: .1s;
    }

@@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}
thead {
    position: sticky;
    top: -2px;
    z-index: 1; /* Ensure the sticky header is on top of other content */
    background-color: #393939;
    border-radius:8px;
    color: #00ad5f;
    font-family: Lato-Bold;
    font-size: 15px;
    line-height: 1.4;
  
    text-transform: uppercase;
}
tbody{
    background-color:#111;
    color: white;
}
.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .privacy1 {
    background-color: #181716;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 9px 30px black;
    height: 100px;;
}

.card1 {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1.25rem;
    box-shadow: 0px 9px 30px black;
}

.card1-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem;
}

.card1-body {
    padding: 1.25rem;
}

.card1-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.card1-text {
    margin-bottom: 1rem;
}

.card1-link {
    color: #007bff;
    text-decoration: none;
}

.card1-link:hover {
    text-decoration: underline;
}

</style>