@using Newtonsoft.Json;
@model List<ESKINS.DbServices.Models.ItemsModels>
<style>
	.showDetails {
		margin-left: -30px;
		margin-top: -90px;
	}

	.overlay-button {
		position: absolute;
		top: 0;
		left: 0;
		/* Add any other styles for the button */
		margin-left: 9px;
		margin-top: -55px;
	}
</style>
<div class="scroll" style="padding: 20px;">
	<br />
	@{
		foreach (var item in Model)
		{
			<input type="hidden" name="id" value="@item.Id" data-id="@item.Id" />
			<div class="card" style="animation: moveCards 10s linear infinite; margin-right: 15px; height: 200px; flex: 0 0 200px;">
				<div class="imgBox" style="width:70px; margin-left: 60px;">
					<div title="Item Information">
						<form method="post" action="@Url.Action("Details", "Market")">
							<input type="hidden" name="item.Id" value="@item.Id" />
							<button type="submit" class="button-20 bi bi-info-circle showDetails"></button>
						</form>
					</div>
					<div style="height: 100px;display: flex;justify-content: center; align-items: center;">
						@if (item.ItemImage != null)
						{
							<img src="data:image;base64,@Convert.ToBase64String(item.ItemImage)" alt="@item.ItemImage" style="width: 100px; height: auto; background-color:transparent; border: none; margin-left:10px;" />
						}
					</div>
				</div>
				<div class="contentBox">
					<h3>@item.ProductName</h3>
					<h3 style="color:white; margin-top:-5px">Float: @Decimal.Parse(@item.ItemFloat).ToString("F8")</h3>
					@if (item.OnSale == true)
					{
						<h2 class="price" style="font-family: 'Arial', sans-serif;">
							£ @Math.Truncate(item.ActualPrice)
							<small>@((item.ActualPrice % 1).ToString("0.00").Substring(2))</small>
						</h2>
						<button class="overlay-button bi bi-x button-20" title="Remove from sale." onclick="sendItemDetails(@item.Id)"></button>
					}
					else
					{
						//<button href="#" class="button-20" onclick="moveToSaleCart(this)">Add</button>
						<button href="#" class="button-20" onclick="location.href='@Url.Action("Add", "SaleCart", new {id = item.Id})'">Add</button>
						//<button href="#" class="button-20" onclick="addToSaleCart(@item.Id)">Add</button>
					}
				</div>
			</div>
		}
	}
</div>

