@model List<ESKINS.DbServices.Models.ItemsModels>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MainPageLayout";
}
@section head{
	<link href="~/css/market2.css" type="text/css" rel="stylesheet" />
	<link href="~/css/sell.css" type="text/css" rel="stylesheet" />
	<link href="~/css/card.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
}
@if (TempData["Message"] != null)
{
	<br />
	<div class="alert alert-info" style="width: 250px; margin-left: 45%; margin-right: auto; margin-top: -25px; text-align: center;position: absolute;">
		@TempData["Message"]
	</div>
}
<main class="cd-main-content">
	<div style="margin-left: 100px; margin-top:-10px;">
		<section class="cd-gallery" style="margin-top: -20px;">
			<div style="margin-top:-45px;">
				<h2 style="color:white;"><strong>Inventory:</strong></h2>
				<div id="itemContainer">
					@Html.Partial("_ItemPartial", Model)
				</div>
				<div class="cd-fail-message">No results found</div>
				<br />
				<div style="color:white;">
					<label>
						You will get: £ <strong>@Math.Truncate(@Config.SaleCartOverall)</strong> <small>@((@Config.SaleCartOverall % 1).ToString("0.00").Substring(2))</small>
					</label>
					<span class="info-icon" title="Sell your items instantly for 30% less than market value."><i class="fas fa-info-circle"></i></span>
				</div>
				<div class="itemsSell">
					<div class="itemsSellForSale" id="itemsSellForSale" style="height: 220px; overflow-y: scroll; display: flex; flex-wrap: wrap;">
						@await Component.InvokeAsync("SaleCartComponent")
					</div>
					<div class="itemsSellButtons">
						<button id="btn" >Instant Sale</button>
						<button id="btn" onclick="location.href='@Url.Action("RemoveAll", "SaleCart")'">Remove All</button>
					</div>
				</div>
			</div>
		</section> <!-- cd-gallery -->
	</div>
	<div class="cd-filter" style="background-color:	#181716; color: #a9a9a9;">
		<form>
	<div class="cd-filter-block">
		<h4>Search</h4>
		<div class="cd-filter-content" style="display:none;">
			<input type="search" id="searchInput" placeholder="Search Any Skin Here..." oninput="searchItems()">
		</div> <!-- cd-filter-content -->
		</div> <!-- cd-filter-block -->
			@await Component.InvokeAsync("CategoriesComponent")
			@await Component.InvokeAsync("ItemLocationComponent")
			@await Component.InvokeAsync("CollectionsComponent")
			@await Component.InvokeAsync("UniqueItemsComponent")
			@await Component.InvokeAsync("PhasesComponent")
			</form>
			<a href="#0" class="cd-close" style="color: #a9a9a9; text-decoration: none;">Close</a>
		</div>
	<a href="#0" class="cd-filter-trigger" style="text-decoration: none;">Filters</a>
</main> 
<style>
.info-icon {
	margin-left: 5px;
	font-size: 16px;
	cursor: help;
}

</style>
<script>
	
	// radio buttons
	$(document).ready(function () {
		$('input[type="radio"]').change(function () {
			var selectedValue = $(this).attr('id'); // Get the selected value
			// Send a POST request to the controller
			$.ajax({
				url: '@Url.Action("SearchCollection", "Sell")',
				type: 'POST',
				data: { checkedCollection: selectedValue },
				success: function (response) {
					// Handle the response from the server
					$('#itemContainer').html(response);
				},
				error: function (xhr, status, error) {
					// Handle the error
					alert('An error occurred while searching for items.');
				}
			});
		});
	});
	// filter select.
	$(document).ready(function () {
		$('#selectThis').change(function () {
			var selectedValue = $(this).val(); // Get the selected value

			// Iterate over each option in the select element
			$('#selectThis option').each(function () {
				if ($(this).val() === selectedValue) {
					// Send AJAX request to the server
					$.ajax({
						url: '@Url.Action("SearchLocation", "Sell")',
						type: 'POST',
						data: { checkedLocation: selectedValue },
						success: function (response) {
							// Handle the response from the server
							// Update the UI with the filtered items
							$('#itemContainer').html(response);
						},
						error: function (xhr, status, error) {
							// Handle the error
							alert('An error occurred while searching for items.');
						}
					});
				} else {
				}
			});
		});
	});
	// search items function
	var searchTimeout; // Variable to store the timeout

	function searchItems() {
		clearTimeout(searchTimeout); // Clear any existing timeout

		searchTimeout = setTimeout(function () {
			var searchQuery = document.getElementById('searchInput').value;

			// Make an AJAX call to search for items
			$.ajax({
				url: '@Url.Action("SearchItems", "Sell")',
				type: 'POST',
				data: { query: searchQuery },
				success: function (data) {
					// Update the item container with the search results
					$('#itemContainer').html(data);
				},
				error: function () {
					alert('An error occurred while searching for items.');
				}
			});
		}, 500); // Delay the search by 500 milliseconds (adjust as needed)
	}

	//Unigue items checkboxes
	$(document).ready(function () {
		// Attach event listener to the category checkboxes
		$('.unique-checkbox').change(function () {
			// Get the checked checkboxes
			var checkedCategories = $('.unique-checkbox:checked').map(function () {
				return $(this).val();
			}).get();

			// Send AJAX request to the server
			$.ajax({
				url: '@Url.Action("SearchUnique", "Sell")',
				type: 'POST',
				data: { categories: checkedCategories },
				success: function (response) {
					// Handle the response from the server
					// Update the UI with the filtered items
					$('#itemContainer').html(response);
				},
				error: function (xhr, status, error) {
					// Handle the error
					alert('An error occurred while searching for items.');
				}
			});
		});
	});
	//phase checkboxes
	$(document).ready(function () {
		// Attach event listener to the category checkboxes
		$('.phase-checkbox').change(function () {
			// Get the checked checkboxes
			var checkedCategories = $('.phase-checkbox:checked').map(function () {
				return $(this).val();
			}).get();

			// Send AJAX request to the server
			$.ajax({
				url: '@Url.Action("SearchPhases", "Sell")',
				type: 'POST',
				data: { categories: checkedCategories },
				success: function (response) {
					// Handle the response from the server
					// Update the UI with the filtered items
					$('#itemContainer').html(response);
				},
				error: function (xhr, status, error) {
					// Handle the error
					alert('An error occurred while searching for items.');
				}
			});
		});
	});
	//categories checkboxes
	$(document).ready(function () {
		// Attach event listener to the category checkboxes
		$('.category-checkbox').change(function () {
			// Get the checked checkboxes
			var checkedCategories = $('.category-checkbox:checked').map(function () {
				return $(this).val();
			}).get();

			// Send AJAX request to the server
			$.ajax({
				url: '@Url.Action("SearchCategories", "Sell")',
				type: 'POST',
				data: { categories: checkedCategories },
				success: function (response) {
					// Handle the response from the server
					// Update the UI with the filtered items
					$('#itemContainer').html(response);
				},
				error: function (xhr, status, error) {
					// Handle the error
					alert('An error occurred while searching for items.');
				}
			});
		});
	});

</script>
