@model List<ESKINS.DbServices.Models.ItemsModels>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MainPageLayout";
}
@section head{
	<link href="~/css/market2.css" type="text/css" rel="stylesheet" />
	<link href="~/css/sell.css" type="text/css" rel="stylesheet" />
	<link href="~/css/card.css" type="text/css" rel="stylesheet" />
}

<script>
	$(document).ready(function () {
		$("#cardMove").click(function () {
			$(".card").appendTo("#itemsSellForSale");
			$(this).hide(); // Hide move button
		});
	});
</script>
<main class="cd-main-content">
	<div style="margin-left: 100px;">
		<section class="cd-gallery" style="margin-top: -45px;">
			<h2 style="color:white;">Inventory:</h2>
			<div id="itemContainer">
				@Html.Partial("_ItemPartial", Model)
			</div>
			<div class="cd-fail-message">No results found</div>
			<br />
			<div class="itemsSell">
				<div class="itemsSellLabel">
					<p>Current amount: $ 0.00</p>
				</div>
				<div class="itemsSellForSale" id="itemsSellForSale">
				</div>
				<div class="itemsSellButtons">
					<button id="btn">Sell Items</button>
					<button id="btn">Instant Sell</button>
					<button id="btn">Remove From Card</button>
				</div>
			</div>
		</section> <!-- cd-gallery -->
	</div>
	<div class="cd-filter" style="background-color:	#181716; color: #a9a9a9;">
		<form>
	<div class="cd-filter-block">
		<h4>Search</h4>
		<div class="cd-filter-content" style="display:none;">
			<input type="search" id="searchInput" placeholder="Search Any Skin Here..." oninput="searchItems()">
		</div> <!-- cd-filter-content -->
		</div> <!-- cd-filter-block -->
			@await Component.InvokeAsync("CategoriesComponent")
			@await Component.InvokeAsync("ItemLocationComponent")
			@await Component.InvokeAsync("CollectionsComponent")
			@await Component.InvokeAsync("UniqueItemsComponent")
			@await Component.InvokeAsync("PhasesComponent")
			</form>
			<a href="#0" class="cd-close" style="color: #a9a9a9; text-decoration: none;">Close</a>
		</div>
	<a href="#0" class="cd-filter-trigger" style="text-decoration: none;">Filters</a>
	</div>
</main> <!-- cd-main-content -->
<script>
	// search items function
	var searchTimeout; // Variable to store the timeout

	function searchItems() {
		clearTimeout(searchTimeout); // Clear any existing timeout

		searchTimeout = setTimeout(function () {
			var searchQuery = document.getElementById('searchInput').value;

			// Make an AJAX call to search for items
			$.ajax({
				url: '@Url.Action("SearchItems", "Sell")',
				type: 'POST',
				data: { query: searchQuery },
				success: function (data) {
					// Update the item container with the search results
					$('#itemContainer').html(data);
				},
				error: function () {
					alert('An error occurred while searching for items.');
				}
			});
		}, 500); // Delay the search by 500 milliseconds (adjust as needed)
	}

	//Unigue items checkboxes
	$(document).ready(function () {
		// Attach event listener to the category checkboxes
		$('.unique-checkbox').change(function () {
			// Get the checked checkboxes
			var checkedCategories = $('.unique-checkbox:checked').map(function () {
				return $(this).val();
			}).get();

			// Send AJAX request to the server
			$.ajax({
				url: '@Url.Action("SearchUnique", "Sell")',
				type: 'POST',
				data: { categories: checkedCategories },
				success: function (response) {
					// Handle the response from the server
					// Update the UI with the filtered items
					$('#itemContainer').html(response);
				},
				error: function (xhr, status, error) {
					// Handle the error
					alert('An error occurred while searching for items.');
				}
			});
		});
	});
	//phase checkboxes
	$(document).ready(function () {
		// Attach event listener to the category checkboxes
		$('.phase-checkbox').change(function () {
			// Get the checked checkboxes
			var checkedCategories = $('.phase-checkbox:checked').map(function () {
				return $(this).val();
			}).get();

			// Send AJAX request to the server
			$.ajax({
				url: '@Url.Action("SearchPhases", "Sell")',
				type: 'POST',
				data: { categories: checkedCategories },
				success: function (response) {
					// Handle the response from the server
					// Update the UI with the filtered items
					$('#itemContainer').html(response);
				},
				error: function (xhr, status, error) {
					// Handle the error
					alert('An error occurred while searching for items.');
				}
			});
		});
	});
	//categories checkboxes
	$(document).ready(function () {
		// Attach event listener to the category checkboxes
		$('.category-checkbox').change(function () {
			// Get the checked checkboxes
			var checkedCategories = $('.category-checkbox:checked').map(function () {
				return $(this).val();
			}).get();

			// Send AJAX request to the server
			$.ajax({
				url: '@Url.Action("SearchCategories", "Sell")',
				type: 'POST',
				data: { categories: checkedCategories },
				success: function (response) {
					// Handle the response from the server
					// Update the UI with the filtered items
					$('#itemContainer').html(response);
				},
				error: function (xhr, status, error) {
					// Handle the error
					alert('An error occurred while searching for items.');
				}
			});
		});
	});

</script>
