@model List<ESKINS.DbServices.Models.ItemsModels>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MainPageLayout";
}
@section head{
	<link href="~/css/market2.css" type="text/css" rel="stylesheet" />
	<link href="~/css/sell.css" type="text/css" rel="stylesheet" />
	<link href="~/css/card.css" type="text/css" rel="stylesheet" />
}
<style>
	.showDetails {
		margin-left: -30px;
		margin-top: -90px;
	}
</style>
<script>
	$(document).ready(function () {
		$("#cardMove").click(function () {
			$(".card").appendTo("#itemsSellForSale");
			$(this).hide(); // Hide move button
		});
	});
</script>
<main class="cd-main-content">
	<div style="margin-left: 100px;">
		<section class="cd-gallery">
			<div class="scroll" style="padding: 20px;">
				<br />
					@{
						foreach (var item in Model)
						{
								<div class="card" style="animation: moveCards 10s linear infinite; margin-right: 20px; height: 200px; flex: 0 0 200px;">
									<div class="imgBox" style="width:70px; margin-left: 60px;">
										<div>
											<form method="post" action="@Url.Action("Details", "Market")">
												<input type="hidden" name="item.Id" value="@item.Id" />
												<button type="submit" class="button-20 bi bi-info-circle showDetails"></button>
											</form>
										</div>
										<div style="height: 100px;display: flex;justify-content: center; align-items: center;">
											@if (item.ItemImage != null)
											{
												<img src="data:image;base64,@Convert.ToBase64String(item.ItemImage)" alt="@item.ItemImage" style="width: 100px; height: auto; background-color:transparent; border: none; margin-left:10px;" />
											}
										</div>
									</div>
									<div class="contentBox">
										<h3>@item.ProductName</h3>
										<h3 style="color:white; margin-top:-5px">Float: @Decimal.Parse(@item.ItemFloat).ToString("F8")</h3>
										<h2 class="price" style="font-family: 'Arial', sans-serif;">
											@Math.Truncate(item.ActualPrice)
											<small>@((item.ActualPrice % 1).ToString("0.00").Substring(2))</small> £
										</h2>
									</div>
								</div>
						}
					}
			</div>
			<div class="cd-fail-message">No results found</div>
			<br />
			<div class="itemsSell">
				<div class="itemsSellLabel">
					<p>Current amount: $ 0.00</p>
				</div>
				<div class="itemsSellForSale" id="itemsSellForSale">
				</div>
				<div class="itemsSellButtons">
					<button id="btn">Sell Items</button>
					<button id="btn">Instant Sell</button>
					<button id="btn">Remove From Card</button>
				</div>
			</div>
		</section> <!-- cd-gallery -->
	</div>
	<div class="cd-filter" style="background-color:	#181716; color: #a9a9a9;">
		<form>
	<div class="cd-filter-block">
		<h4>Search</h4>

				<div class="cd-filter-content" style="display:none;">
			<input type="search" placeholder="Search Any Skin Here...">
		</div> <!-- cd-filter-content -->
	</div> <!-- cd-filter-block -->
			<div class="cd-filter-block">
				<h4>Item Category</h4>

				<ul class="cd-filter-content cd-filters list" style="display:none;">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
						<label class="checkbox-label" for="checkbox1">All</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
						<label class="checkbox-label" for="checkbox2">Misc</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">Pistols</label>
					</li>
					<li>
						<input class="filter" data-filter=".check4" type="checkbox" id="checkbox4">
						<label class="checkbox-label" for="checkbox4">SMG</label>
					</li>
					<li>
						<input class="filter" data-filter=".check5" type="checkbox" id="checkbox5">
						<label class="checkbox-label" for="checkbox5">Rifles</label>
					</li>
					<li>
						<input class="filter" data-filter=".check6" type="checkbox" id="checkbox6">
						<label class="checkbox-label" for="checkbox6">Sniper Rifles</label>
					</li>
					<li>
						<input class="filter" data-filter=".check7" type="checkbox" id="checkbox7">
						<label class="checkbox-label" for="checkbox7">Shotguns</label>
					</li>
					<li>
						<input class="filter" data-filter=".check8" type="checkbox" id="checkbox8">
						<label class="checkbox-label" for="checkbox8">Machine Guns</label>
					</li>
					<li>
						<input class="filter" data-filter=".check9" type="checkbox" id="checkbox9">
						<label class="checkbox-label" for="checkbox9">Knifes</label>
					</li>
					<li>
						<input class="filter" data-filter=".check10" type="checkbox" id="checkbox10">
						<label class="checkbox-label" for="checkbox10">Gloves</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Select WEAPON</h4>

				<div class="cd-filter-content" style="display:none;">
					<div class="cd-select cd-filters">
						<select class="filter" name="selectThis" id="selectThis">
							<option value="" style="cursor: pointer;">Choose an option</option>
							<option value=".option1">Option 1</option>
							<option value=".option2">Option 2</option>
							<option value=".option3">Option 3</option>
							<option value=".option4">Option 4</option>
						</select>
					</div> <!-- cd-select -->
				</div> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Radio buttons</h4>

				<ul class="cd-filter-content cd-filters list" style="display:none;">
					<li>
						<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
						<label class="radio-label" for="radio1">All</label>
					</li>

					<li>
						<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
						<label class="radio-label" for="radio2">Choice 2</label>
					</li>

					<li>
						<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
						<label class="radio-label" for="radio3">Choice 3</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->
			<div class="cd-filter-block">
				<h4>Unique Items</h4>

				<ul class="cd-filter-content cd-filters list" style="display:none;">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox11">
						<label class="checkbox-label" for="checkbox11">All</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox12">
						<label class="checkbox-label" for="checkbox12">Rare Phase</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox13">
						<label class="checkbox-label" for="checkbox13">Rare Float</label>
					</li>
					<li>
						<input class="filter" data-filter=".check4" type="checkbox" id="checkbox14">
						<label class="checkbox-label" for="checkbox14">Rare Items</label>
					</li>
					<li>
						<input class="filter" data-filter=".check5" type="checkbox" id="checkbox15">
						<label class="checkbox-label" for="checkbox15">Rare Stickers</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->
			<div class="cd-filter-block">
				<h4>Phase</h4>

				<ul class="cd-filter-content cd-filters list" style="display:none;">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox16">
						<label class="checkbox-label" for="checkbox16">All</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox17">
						<label class="checkbox-label" for="checkbox17">Phase 1</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox18">
						<label class="checkbox-label" for="checkbox18">Phase 2</label>
					</li>
					<li>
						<input class="filter" data-filter=".check4" type="checkbox" id="checkbox19">
						<label class="checkbox-label" for="checkbox19">Phase 3</label>
					</li>
					<li>
						<input class="filter" data-filter=".check5" type="checkbox" id="checkbox20">
						<label class="checkbox-label" for="checkbox20">Phase 4</label>
					</li>
					<li>
						<input class="filter" data-filter=".check6" type="checkbox" id="checkbox21">
						<label class="checkbox-label" for="checkbox21">Ruby</label>
					</li>
					<li>
						<input class="filter" data-filter=".check7" type="checkbox" id="checkbox22">
						<label class="checkbox-label" for="checkbox22">Emerald</label>
					</li>
					<li>
						<input class="filter" data-filter=".check8" type="checkbox" id="checkbox23">
						<label class="checkbox-label" for="checkbox23">Sapphire</label>
					</li>
					<li>
						<input class="filter" data-filter=".check9" type="checkbox" id="checkbox24">
						<label class="checkbox-label" for="checkbox24">Black Perl</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->
			</form>
			<a href="#0" class="cd-close" style="color: #a9a9a9; text-decoration: none;">Close</a>
		</div>
	<a href="#0" class="cd-filter-trigger" style="text-decoration: none;">Filters</a>
	</div>
</main> <!-- cd-main-content -->
