@model List<ESKINS.DbServices.Models.ItemsModels>
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@RenderSection("head", required: false)
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link href="~/css/home.css" type="text/css" rel="stylesheet"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="~/css/index.css" type="text/css" rel="stylesheet" />
	<link href="~/css/layout.css" type="text/css" rel="stylesheet" />
	<link href="~/css/card.css" type="text/css" rel="stylesheet" />
</head>
<body style="background-color: #121212;">
<div class="navbar navbar-inverse" style="background-color:#181716;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">

					<div class="navbar-header">
						<button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
						<img src="~/icon/logo5.png" style="width: 120px; height:50px;" title="core" alt="" />
					</div>

					<div class="navbar-collapse collapse" id="mobile_menu">
						<ul class="nav navbar-nav">
							<li>
								<a href="@Url.Action("Index", "Home")">
									<span class="bi bi-house"></span>
									Home
								</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Market")">
									<span class="bi bi-bank2"></span>
									Market
								</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Sell")">
									<span class="bi bi-currency-dollar"></span>
									Sell Inventory
								</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Contact")">
									<span class="bi bi-person-lines-fill"></span>
									Contact
								</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Privacy")">
									<span class="bi bi-shield-exclamation"></span>
									Privacy
								</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "AboutUs")">
									<span class="bi bi-file-person-fill"></span>
									About Us
								</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							@Html.Partial("_LoginPartial")
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-container"
		 style="
		display: flex;
		overflow: hidden;
		margin-top: 20px;
		height: 240px;
		animation: gradient 15s ease infinite;
		border-bottom: medium">
		@Html.Partial("_PartialViewItems", Model)
	</div>
	
	<div>
		@RenderBody()
	</div>
	

	<div class="footer-clean" id="footer1" style="background-color: #212121; color: white;">
		<footer>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-4 col-md-3 item">
						<h3>Services</h3>
						<ul>
							<li><a href="@Url.Action("WebDesign", "Footer")">Web design</a></li>
							<li><a href="@Url.Action("Development", "Footer")">Development</a></li>
							<li><a href="@Url.Action("Hosting", "Footer")">Hosting</a></li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-3 item">
						<h3>About</h3>
						<ul>
							<li><a href="@Url.Action("Company", "Footer")">Company</a></li>
							<li><a href="@Url.Action("Team", "Footer")">Team</a></li>
							<li><a href="@Url.Action("Legacy", "Footer")">Legacy</a></li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-3 item">
						<h3>Careers</h3>
						<ul>
							<li><a href="@Url.Action("JobOpening", "Footer")">Job openings</a></li>
							<li><a href="@Url.Action("EmployeeSuccess", "Footer")">Employee success</a></li>
							<li><a href="@Url.Action("Benefits", "Footer")">Benefits</a></li>
						</ul>
					</div>
					<div class="col-lg-3 item social">
						<a href="https://www.facebook.com/profile.php?id=100001518915936"><i class="icon ion-social-facebook"></i></a><a href="https://www.facebook.com/profile.php?id=100001518915936"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/profile.php?id=100001518915936"><i class="icon ion-social-snapchat"></i></a><a href="https://www.facebook.com/profile.php?id=100001518915936"><i class="icon ion-social-instagram"></i></a>
						<p class="copyright">E-SKINS - &copy; @DateTime.Now.Year</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/jquery.mixitup.min.js"></script>
	<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>