<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link href="~/css/home.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: #1f2029; overflow-x: hidden; background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg'); background-position: center; background-repeat: repeat; background-size: 4%;">
	
	@*#mainBody {
		background-color: #1f2029;
		overflow-x: hidden;
		background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
		background-position: center;
		background-repeat: repeat;
		background-size: 4%;
		}*@
	<div class="navbar navbar-inverse" style="background-color:#181716;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">

					<div class="navbar-header">
						<button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
						<a href="#" class="navbar-brand">E-SKINS</a>
					</div>

					<div class="navbar-collapse collapse" id="mobile_menu">
						<ul class="nav navbar-nav">
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>@Html.ActionLink("Manage Scheduled Tasks", "Index", "ScheduledTask", new { area = "" }, null)</li>
									<li>@Html.ActionLink("Check SAP for Works Orders", "Update", "GetProductionOrders", null, null)</li>
									<li>@Html.ActionLink("Check SAP for Purchase Orders", "Update", "GetPurchaseOrders", null, null)</li>
									<li>@Html.ActionLink("Post Completed Printers To SAP", "PostPrinters", "PostPrintersToSap", null, null)</li>
								</ul>
							</li>
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>@Html.ActionLink("Contact", "Index", "Home")</li>
							<li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
						</ul>
						<ul class="nav navbar-nav">
							<li>
								<form action="" class="navbar-form">
									<div class="form-group">
										<div class="input-group">
											<input type="search" name="search" id="" placeholder="Search Any Skin Here..." class="form-control">
											<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
										</div>
									</div>
								</form>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<partial name="_LoginPartial" />
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		@@keyframes moveCards {
			0% {
				transform: translateX(0);
			}

			100% {
				transform: translateX(-220px);
			}
		}
	</style>
	<div class="card-container" 
		style="display: flex; 
		overflow: hidden; 
		margin-top: -20px; 
		height: 240px;
		background:#181716;
		animation: gradient 15s ease infinite;
		border-bottom: medium"
	>
		@{
			Random rnd = new Random();
			for(int i = 0; i < 40; i++)
			{
				<div class="card" style="animation: moveCards 10s linear infinite; margin-right: 20px;margin-top:20px; height: 200px; flex: 0 0 200px;">
					<div class="imgBox" style="width:70px; margin-left: 60px;">
						<img src="https://www.corsair.com/corsairmedia/sys_master/productcontent/CH-9300011-NA-M65_PRO_RGB_BLK_04.png" alt="mouse corsair" class="mouse">
					</div>
					<div class="contentBox">
						<h3>Mouse Corsair M65</h3>
						<h2 class="price">@rnd.Next(1000).<small>@rnd.Next(99)</small> €</h2>
						<a href="#" class="buy">Buy Now</a>
					</div>
				</div>
			}
		}
		
	</div>

	<main class="cd-main-content"">
		@*<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder">
						<a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
					</li>
					<li class="filter"><a class="selected" href="#0" data-type="all">All Skins</a></li>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
		</div> <!-- cd-tab-filter-wrapper -->*@
		@RenderBody()
		
	</main> <!-- cd-main-content -->
	<div class="footer-clean" id="footer1">
		<footer>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-4 col-md-3 item">
						<h3>Services</h3>
						<ul>
							<li><a href="#">Web design</a></li>
							<li><a href="#">Development</a></li>
							<li><a href="#">Hosting</a></li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-3 item">
						<h3>About</h3>
						<ul>
							<li><a href="#">Company</a></li>
							<li><a href="#">Team</a></li>
							<li><a href="#">Legacy</a></li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-3 item">
						<h3>Careers</h3>
						<ul>
							<li><a href="#">Job openings</a></li>
							<li><a href="#">Employee success</a></li>
							<li><a href="#">Benefits</a></li>
						</ul>
					</div>
					<div class="col-lg-3 item social">
						<a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
						<p class="copyright">E-SKINS © @DateTime.Now.Year</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/jquery.mixitup.min.js"></script>
	<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>