@model List<ESKINS.DbServices.Models.TargetsModels>

@{
    ViewBag.Title = "TargetsModels";
}
@section head{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="css/tablestyles.css" />
}
<h2 class="text-center">Targets</h2>
<br />
<div id="createButton" style="margin: 7px; text-align:center;">
    <button class="btn btn-success" type="submit" onclick="location.href='@Url.Action("Create", "Targets")'">Create New</button>
</div>
<br />
<div>
    <div>
        <div>
            <table id="myTable" class="table table-bordered table-striped dark-mode" style="margin: auto;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Is Active</th>
                        <th>CreationDate</th>
                        <th>ModificationDate</th>
                        <th>Email</th>
                        <th>Less Than</th>
                        <th>Product Name</th>
                        <th>Phase</th>
                        <th>Float Under</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@(item.IsActive ? "Yes" : "No")</td>
                            <td>@item.CreationDate</td>
                            <td>@item.ModificationDate</td>
                            <td>@item.User?.Email</td>
                            <td>@item.PriceUnder</td>
                            <td>@item.Item?.ProductName</td>
                            <td>@item.Phase?.Phase</td>
                            <td>@item.UnderFloat</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Targets", new { Id = item.Id }, new { @class = "btn btn-success edit-link"})
                                @Html.ActionLink("Delete", "Delete", "Targets", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "paging": true, // Enable pagination
                "ordering": true, // Enable sorting
                "searching": true // Enable search box
            });
        });
    </script>
}
<style>
    .container {
        border-radius: 4px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
        padding: 32px;
    }
    /* Modal background */
    .modal {
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

    /* Modal content */
    .modal-content {
        background-color: #212121;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #ccc;
        width: 80%;
        max-width: 600px;
        border-radius: 10px;
        color: #fff;
        position: relative;
    }

    /* Modal close button */
    .close {
        color: #fff;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 5px;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    /* Styles for the table */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td, tr {
        padding: 8px;
        text-align: center;
        color: #f2f2f2;
    }

    th {
        font-weight: bold;
    }

    h2 {
        color: #f2f2f2;
    }

    /* Styles for the buttons */
    .btn {
        color: #fff;
        border-radius: 4px;
        margin: 3px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-success:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

    .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #117a8b;
        }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>