@model List<ESKINS.DbServices.Models.ItemsModels>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_MainPageLayout";
}
@section head {
	<link href="~/css/index.css" type="text/css" rel="stylesheet" />
	<link href="~/css/home.css" type="text/css" rel="stylesheet" />
	<link href="~/css/home2.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="~/css/card.css" type="text/css" rel="stylesheet" />
}
<script>
	function showSecondView() {
		window.location.href = "/Account/Login";
	}
</script>
<style>
	/* --------------------------------

	Primary style

	-------------------------------- */
	*, *::after, *::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	html {
		font-size: 62.5%;
	}

		html * {
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

	body {
		font-size: 1.6rem;
		font-family: "Open Sans", sans-serif;
		color: #331d35;
		background-color: #e7e7e7;
	}

	a {
		color: #41307c;
		text-decoration: none;
	}

	/* --------------------------------

	Main Components

	-------------------------------- */
	.cd-header {
		position: relative;
		height: 150px;
		background-color: #331d35;
	}

		.cd-header h1 {
			color: #ffffff;
			line-height: 150px;
			text-align: center;
			font-size: 2.4rem;
			font-weight: 300;
		}

	@@media only screen and (min-width: 1170px) {
		.cd-header {
			height: 180px;
		}

			.cd-header h1 {
				line-height: 180px;
			}
	}

	.cd-main-content {
		position: relative;
		min-height: 100vh;
	}

		.cd-main-content:after {
			content: "";
			display: table;
			clear: both;
		}

		.cd-main-content.is-fixed .cd-tab-filter-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}

		.cd-main-content.is-fixed .cd-gallery {
			padding-top: 76px;
		}

		.cd-main-content.is-fixed .cd-filter {
			position: fixed;
			height: 100vh;
			overflow: hidden;
		}

			.cd-main-content.is-fixed .cd-filter form {
				height: 100vh;
				overflow: auto;
				-webkit-overflow-scrolling: touch;
			}

		.cd-main-content.is-fixed .cd-filter-trigger {
			position: fixed;
		}

	@@media only screen and (min-width: 768px) {
		.cd-main-content.is-fixed .cd-gallery {
			padding-top: 90px;
		}
	}

	@@media only screen and (min-width: 1170px) {
		.cd-main-content.is-fixed .cd-gallery {
			padding-top: 100px;
		}
	}

	@@keyframes moveCards {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-220px);
		}
	}

	.services {
		display: flex;
		justify-content: center;
		align-items: stretch;
		gap: 30px;
		margin-top: 50px;
	}

	.service {
		background-color: #923cb5 !important;
		background-image: linear-gradient(147deg, #923cb5 0%, #232023 64%) !important;
		border-radius: 5px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
		padding: 30px;
		text-align: center;
		transition: transform 0.3s ease;
		cursor: pointer;
	}

		.service:hover {
			transform: translateY(-5px);
		}

		.service i {
			color: #4CAF50;
			font-size: 50px;
			margin-bottom: 20px;
		}

		.service h3 {
			color: #333;
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.service p {
			color: #666;
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 0;
		}

	.showDetails {
		margin-left: -30px;
		margin-top: -90px;
	}
</style>
<div class="mainIndex">
	<main>
		<div class="card-container"
			 style="display: flex;
				position: relative;
				height: 240px;
				animation: gradient 15s ease infinite;">
			@{
				foreach (var item in Model)
				{
					<div class="card" style="animation: moveCards 10s linear infinite; margin-right: 20px; height: 200px; flex: 0 0 200px;">
						<div class="imgBox" style="width:70px; margin-left: 60px;">
							<div title="Item Information">
								<form method="post" action="@Url.Action("Details", "Market")">
									<input type="hidden" name="item.Id" value="@item.Id" />
									<button type="submit" class="button-20 bi bi-info-circle showDetails"></button>
								</form>
							</div>
							<div style="height: 100px;display: flex;justify-content: center; align-items: center;">
								@if (item.ItemImage != null)
								{
									<img src="data:image;base64,@Convert.ToBase64String(item.ItemImage)" alt="@item.ItemImage" style="width: 100px; height: auto; background-color:transparent; border: none; margin-left:10px;" />
								}
							</div>
						</div>
						<div class="contentBox">
							<h3>@item.ProductName</h3>
							<h3 style="color:white; margin-top:-5px">Float: @Decimal.Parse(@item.ItemFloat).ToString("F8")</h3>
							<h2 class="price" style="font-family: 'Arial', sans-serif;">
								£ @Math.Truncate(item.ActualPrice)
								<small>@((item.ActualPrice % 1).ToString("0.00").Substring(2))</small>
							</h2>
						</div>
					</div>
				}
			}
		</div>
		<section class="hero-section" style="background-image: url('../../img/leftsideanty.jpg'); height: 1100px; margin-top:-260px;">
			<h1>Buy and Sell CS:GO Skins</h1>
			<p>Find the perfect skins for your weapons or sell your own skins for cash.</p>
			@if(Config.isConfirmed)
			{
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Market", new { area = "" })">
					<button class="btn-hover color-3">Start Buying/Selling</button>
				</form>
			}
			else
			{
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Account", new { area = "" })">
					<button class="btn-hover color-3">Start Buying/Selling</button>
				</form>
			}
		</section>
		<section class="services-section" style="height: 1100px;background-image: url('../../img/maninfire.png');">
			<h2>Our Services</h2>
			<div class="services">
				<div class="service">
					<h3>Buy Skins</h3>
					<p>Choose from a wide selection of CSGO skins and purchase them instantly.</p>
				</div>
				<div class="service">
					<h3>Sell Skins</h3>
					<p>Sell your CSGO skins for cash quickly and easily.</p>
				</div>
				<div class="service">
					<h3>Secure Transactions</h3>
					<p>Our site uses the latest encryption technology to keep your transactions secure.</p>
				</div>
			</div>
		</section>
		@{
			var items = Model.OrderByDescending(i => i.ActualPrice).Take(3);
		}
		<section class="services-section" style="height: 900px; background-image: url('../../img/bloodsport.jpg');">
			<h2 style="color:white;">Featured Skins</h2>
			<div class="services">
			@foreach(var item in items)
			{
				<div class="service">
					<div style="height: 100px;display: flex;justify-content: center; align-items: center;">
						@if (item.ItemImage != null)
						{
							<img src="data:image;base64,@Convert.ToBase64String(item.ItemImage)" alt="@item.ItemImage" style="width: 100px; height: auto; background-color:transparent; border: none; margin-left:10px;" />
						}
					</div>
					<h3>@item.ProductName</h3>
					<p>@item.Exterior</p>
					<p class="price" style="font-family: 'Arial', sans-serif;">
						@Math.Truncate(item.ActualPrice)
						<small>@((item.ActualPrice % 1).ToString("0.00").Substring(2))</small> £
					</p>
				</div>
			}
			</div>
		</section>
	</main>
</div>