@model ESKINS.DbServices.Models.ItemsModels
@{
    ViewData["Title"] = "Market";
    Layout = "_MainPageLayout";
}
<header class="privacy">
    <h2>Item Details</h2>
</header>
<br />
<br />
<section class="py-5" style="color: white; margin-bottom:-20px;">
  <br>
  <div class="container1" style="margin:auto;">
    <div class="row gx-5">
    <div class="border rounded-4 mb-3 d-flex justify-content-center">
        <aside class="col-lg-6 center-vertically d-flex align-items-center justify-content-center" style="margin-top:20px; min-height:500px;">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" >
                <img style="max-width: 100%; max-height: 400px; margin-bottom:auto;" class="rounded-4 fit" src="data:image;base64,@Convert.ToBase64String(Model.ItemImage)" "  />
            </a>
            <div>
        </aside>
    </div>
    <main class="col-lg-6" style="margin-top:20px; margin-bottom:20px;">
        <div class="ps-lg-3">
          <h4 class="title text-dark" style="color:green;">
            @Model.ProductName <br />
            Holder: @Model.User.Email
          </h4>
            <hr />
            <div class="d-flex justify-content-center mb-3">
               <span style="color: green;"><dt>Float:</dt></span> @Double.Parse(@Model.ItemFloat).ToString("F12")
                <div class="line-container" style="position: relative; height: 10px; width: 70%; background-color: #ccc;">
                    <div style="position: absolute; top: 0; left: 0; width: 10%; height: 100%; background-color: green;" title="Factory New (0 - 0.7)"></div>
                    <div style="position: absolute; top: 0; left: 10%; width: 10%; height: 100%; background-color: lightgreen;" title="Minimal Wear (0.07 - 0.15)"></div>
                    <div style="position: absolute; top: 0; left: 20%; width: 20%; height: 100%; background-color: yellow;" title="Field Tested (0.15 - 0.38)"></div>
                    <div style="position: absolute; top: 0; left: 40%; width: 10%; height: 100%; background-color: orange;" title="Well Worn (0.38 - 0.45)"></div>
                    <div style="position: absolute; top: 0; left: 50%; width: 50%; height: 100%; background-color: red;" title="Batle Scared (0.45 - 1.00)"></div>
                    <div id="arrow" class="line-container__arrow"></div>
                </div>
            </div>
            <hr />
          <div class="mb-3">
            <dt class="col-3">Price:</dt>
            <dd class="col-9">£ @Model.ActualPrice</dd>
          </div>
          <div class="mb-3">
            <dt class="col-3">Discount:</dt>
            <dd class="col-9"> @(Math.Round(Model.Discount * 100)) %</dd>
          </div>
          <hr />
            <div class="row my-row center-content">
                <div class="col my-col">
                    <div class="col-3">
                        <dt>Stat-Track:</dt>
                    </div>
                    <div class="col-9">
                        <dd>@(Model.StatTrack ? "Yes" : "No")</dd>
                    </div>

                    <div class="col-3">
                        <dt>Souvenir:</dt>
                    </div>
                    <div class="col-9">
                        <dd>@(Model.Souvenir ? "Yes" : "No")</dd>
                    </div>

                    <div class="col-3">
                        <dt>Phase:</dt>
                    </div>
                    <div class="col-9">
                        <dd>@Model.Phase.Phase</dd>
                    </div>
                </div>
                <div class="col my-col">
                     <div class="col-3">
                        <dt>Quality:</dt>
                    </div>
                    <div class="col-9">
                        <dd>@Model.Quality.Quality</dd>
                    </div>
                    <div class="col-3">
                        <dt>Category:</dt>
                    </div>
                    <div class="col-9">
                       <dd>@Model.Category.CategoryDescription</dd>
                    </div>

                    <div class="col-3">
                        <dt>Exterior:</dt>
                    </div>
                    <div class="col-9">
                        <dd>@Model.Exterior.Exterior</dd>
                    </div>
                </div>
                <div class="col my-col">
                       <div class="col-3">
                        <dt>Pattern:</dt>
                    </div>
                    <div class="col-9">
                        <dd>@Model.Pattern</dd>
                    </div>

                    <div class="col-3">
                        <dt>Item Collection:</dt>
                    </div>
                    <div class="col-9">
                        <dd>@Model.ItemCollection.ItemCollection</dd>
                    </div>
                     <div class="col-3">
                        <dt>Item Location:</dt>
                    </div>
                    <div class="col-9">
                        <dd>@Model.ItemLocation.ItemLocation</dd>
                    </div>
                </div>
            </div>
          <hr />
          <a href="#" id="btnBack1" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
          <button id="btnBack" style="margin: 5px;">Back To Market</button>
        </div>
      </main>
    </div>
  </div>
</section>
<br>
<br>
<script>
    var arrow = document.getElementById('arrow');
    var float = parseFloat('@Model.ItemFloat'); // Replace with your float value

    // Calculate the arrow position based on the float value
    var lineContainerWidth = document.querySelector('.line-container').offsetWidth;
    var arrowPosition = (float * lineContainerWidth) + 'px';
    arrow.style.left = arrowPosition;

    document.getElementById("btnBack").addEventListener("click", function () {
        history.back();
    });
</script>
<style>
    .line-container__arrow {
        position: absolute;
        top: 10px; /* Adjust this value based on your arrow position */
        left: 50%; /* Adjust this value to center the arrow horizontally */
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid purple; /* Adjust the color and size of the arrow */
        z-index: 1; /* Ensure the arrow appears above the line */
}
.center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content {
    display: flex;
    justify-content: center;
}
dd{
    margin-left: 5px;
}
dt{
    color:green;
}
.my-col{
    margin: 25px;
    width:auto;
}
.my-row {
  display: flex;
  flex-wrap: nowrap;
}
.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
header {
    background-color: #181716;
    color: white;
    padding: 20px;
    text-align: center;
}
#btnBack {
    background-color: #5600b2;
    color: white;
    border-radius: 7px;
    border-color: transparent;
    font-size: 16px;
    line-height: 1.5;
    height: 40px;
}

#btnBack:hover {
    background-color: #331d35;
    color: white;
}

#btnBack:active {
    background-color: #5600b2;
    color: white;
}

#btnBack1 {
background-color: #5600b2;
color: white;
border-radius: 7px;
border-color: transparent;
font-size: 16px;
line-height: 1.5;
height: 40px;
}

#btnBack1:hover {
    background-color: #331d35;
    color: white;
}

#btnBack1:active {
    background-color: #5600b2;
    color: white;
}
 .container1 {
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    max-width: 1400px;
    min-height:600px;
}
</style>
@*@section head{
    <link href="~/css/sell.css" type="text/css" rel="stylesheet" />
}
<header class="privacy">
    <h2>Item Details</h2>
</header>
<br />
<br />
<div class="container1">
    <div class="row justify-content-center" style="margin-left:20px;">
        <div class="col-lg-6">
            <div class="details-image d-flex justify-content-center align-items-center">
                @if (Model.ItemImage != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(Model.ItemImage)" alt="Item Image" />
                }
            </div>
        </div>
        <div class="col-lg-6 container2">
            <table class="container3 d-flex justify-content-center align-items-center">
                <tr>
                    <th>Name:</th>
                    <td>@Model.ProductName</td>
                </tr>
                <tr>
                    <th>User:</th>
                    <td>@Model.User?.Email</td>
                </tr>
                <tr>
                    <th>Category:</th>
                    <td>@Model.Category?.CategoryDescription</td>
                </tr>
                <tr>
                    <th>Item Location:</th>
                    <td>@Model.ItemLocation?.ItemLocation</td>
                </tr>
                <tr>
                    <th>StatTrack:</th>
                    <td>@Model.StatTrack</td>
                </tr>
                <tr>
                    <th>Souvenir:</th>
                    <td>@Model.Souvenir</td>
                </tr>
                <tr>
                    <th>Item Collection:</th>
                    <td>@Model.ItemCollection?.ItemCollection</td>
                </tr>
                <tr>
                    <th>Phase:</th>
                    <td>@Model.Phase?.Phase</td>
                </tr>
                <tr>
                    <th>Quality:</th>
                    <td>@Model.Quality?.Quality</td>
                </tr>
                <tr>
                    <th>Exterior:</th>
                    <td>@Model.Exterior?.Exterior</td>
                </tr>
                <tr>
                    <th>Pattern:</th>
                    <td>@Model.Pattern</td>
                </tr>
                <tr>
                    <th>Actual Price:</th>
                    <td>@Model.ActualPrice £</td>
                </tr>
                <tr>
                    <th>Discount:</th>
                    <td>@(Math.Round(Model.Discount * 100)) %</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center;">
        <button id="btn" style="margin: 5px;">Add To Cart</button>
        <button id="btnBack" style="margin: 5px;">Back To Market</button>
    </div>
</div>
<script>
    document.getElementById("btnBack").addEventListener("click", function () {
        history.back();
    });
</script>
<br />
<br />
<style>
    .container3 th,
    .container3 td {
        padding: 5px;
        color: white;
        border: none;
    }
    header {
        background-color: #181716;
        color: white;
        padding: 20px;
        text-align: center;
    }

    h2 {
        margin-top: 0;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
    }
    #btnBack {
        background-color: #5600b2;
        color: white;
        border-radius: 7px;
        border-color: transparent;
        font-size: 16px;
        line-height: 1.5;
        height: 40px;
    }

    #btnBack:hover {
        background-color: #331d35;
        color: white;
    }

    #btnBack:active {
        background-color: #5600b2;
        color: white;
    }
    .itemsSellButtons {
        margin-left:40px;
    }
    
    .container1 {
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
        padding: 32px;
        margin-right: auto;
        margin-left: auto;
        max-width: 900px;
    }

    .container2 {
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-left: 5px;
        max-width:330px;
    }

    .details-value{
        color:white;
    }

    .details-info {
    }

    .details-row {
        display: flex;
        margin-bottom: 10px;
    }

    .details-label {
        font-weight: bold;
        margin-right: 5px;
        color: white;
    }

    .details-image {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .details-image img {
        width: 350px;
        height: auto;
    }
</style>*@