@model List<ESKINS.DbServices.Models.ItemsModels>

<div class="itemsSellForSale" id="itemsSellForSale">
@if (Model != null && Model.Count != 0)
	{
	@foreach (var item in Model)
		{
			<input type="hidden" name="id" value="@item.Id" />
			<div class="card" style="margin-right: 15px; height: 150px; flex: 0 0 150px;">
				<div class="imgBox" style="width:70px; margin-left: 60px;">
					<div style="height: 100px; display: flex; justify-content: center; align-items: center;">
						@if (item.ItemImage != null)
						{
							<img src="data:image;base64,@Convert.ToBase64String(item.ItemImage)" alt="@item.ItemImage" style="width: 100px; height: auto; background-color:transparent; border: none; margin-left:10px;" />
						}
					</div>
				</div>
				<div class="contentBox">
					<h3>@item.ProductName</h3>
					<h3 style="color:white; margin-top:-5px">Float: @Decimal.Parse(@item.ItemFloat).ToString("F8")</h3>
					<h2 class="price" style="font-family: 'Arial', sans-serif;">
						£ @Math.Truncate(item.ActualPrice)
						<small>@((item.ActualPrice % 1).ToString("0.00").Substring(2))</small>
					</h2>
				</div>
			</div>
		}
	}
</div>